In [28]:
import json
import mariadb
from datetime import datetime

In [29]:
conn = mariadb.connect(
    database="db_einsis_mng",
    user="einsis",
    password="einsis!@",
    host="172.30.1.203",
    port=3306,
)
cursor = conn.cursor()

In [30]:
with open('output/jayden/rename.json', 'r') as file:
    data = json.load(file)

In [31]:
for item in data:
    insert_query = """
    INSERT INTO es_ti_main (ti_no, ti_area, rule_id, ti_nm, site_tp, ti_desc, ti_ref, ti_smp, ti_sgn, del_yn, ti_type, ti_applied, reg_user_id, reg_dt)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    reg_dt_value = item["reg_dt"] if item["reg_dt"] else datetime.now().strftime("%Y-%m-%d %H:%M:%S")


    values = (
        item["ti_no"],
        item["ti_area"],
        item["rule_id"],
        item["ti_nm"],
        item["site_tp"],
        item["ti_desc"],
        ",".join(item["ti_ref"]) if item["ti_ref"] else "",  # Convert list to string
        item["ti_smp"],
        ",".join(item["ti_sgn"]) if item["ti_sgn"] else "",  # Convert list to string
        item["del_yn"],
        ",".join(item["ti_type"]) if item["ti_type"] else "",  # Convert list to string
        item["ti_applied"],
        item["reg_user_id"],
        reg_dt_value,  # Handle empty datetime
    )

    try:
        cursor.execute(insert_query, values)
    except mariadb.Error as e:
        print(f"Error: {e}")

In [32]:
conn.commit()

In [33]:
conn.close()